.button {
    margin: 10px;
    width: 60px;
}

.button:focus {

}

.button:active {
    background: ;
}

.active {
    background: ;
}

.affair {
    display: flex;
}

.item {
    margin: 5px;
    width: 100px
}

.high {
    color: red;
}

.middle {
    color: yellow;
}

.low {
    color: green;
}